.contador {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.botao {
    border: none;
    background-color: #CEC6BA;
    clip-path: circle();
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin: 1%;

    align-items: center;
    display: flex;
    justify-content: center;

    padding: .2em;
}

.quantidade {
    display: flex;
    justify-content: center;
    width: 25px;
}